:root{
  /* Primary Colors */

  --verde-claro: #aec90a;
  --verde-oscuro: #007e48;
  --primario-color: #f3f3f4;
  --secundario-color: #000000;

}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  position: relative;
  overflow-x: hidden;
}

.header{
  width: 100vw;
  position: absolute;
  z-index: 10;
}
.headerNav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px 0 180px;
}
.navLogo{
  position: relative;
}
.navTitle{
  font-size: 2rem;
  height: 35px;
  display: flex;
  justify-content: end;
  font-weight: 500;
  cursor: pointer;
}
.navTitleLeft{
  color: var(--verde-oscuro);
}
.navTitleRight{
  font-style: italic;
  color: var(--verde-claro);
}
.navTitleMin{
  position: absolute;
  font-size: 0.8rem;
  right: 0;
  font-style: italic;
  color: var(--primario-color);
}

.navMenu{
  display: flex;
  gap: 0 20px;
}
.menuFirstIcon{
  font-size: 20px;
  transform: translateY(5px);
  color: var(--primario-color);
  cursor: pointer;
}
.menuSecondIcon{
  font-size: 20px;
  background: var(--verde-claro);
  color: var(--primario-color);
  border-radius: 100%;
  padding: 2.5px 9px 0 9px;
  cursor: pointer;
}




/* =============== SECTION HOME ================ */

.home{
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: url('./public/bg/background-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: .95;
}

.leftDiv{
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primario-color);
  display: grid;
  gap: 10px 0;
}
.leftDiv span{
  cursor: pointer;
  font-size: 12px;
}





.centerDiv{
  color: var(--primario-color);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
.centerNumber{
  font-size: 1.8rem;
  font-weight: 600;
}
.centerTitle{
  font-size: 5rem;
  font-weight: 600;
  transform: translateY(-20px);
}
.centerText{
  font-size: 11.5px;
  width: 70%;
}
.centerSocialMedia{
  display: none;
}




.rightDiv{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0%, -50%);
  display: grid;
  color: var(--primario-color);
  gap: 5px;
}
.rightDiv span{
  font-size: 1.2rem;
  cursor: pointer;
}
.rightBottomDiv{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--primario-color);
  width: 30rem;
  height: 10rem;
  display: flex;
}
.bottomLeftDiv {
  width: 50%;
  background: var(--secundario-color);
  color: var(--primario-color);
  font-size: 1.2rem;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;/* Esto establece el espacio entre los elementos dentro del grid */
}
.buttomDivSpanAndButton span{
  cursor: pointer;;
}
.buttomDivSpanAndButton button{
  padding:3px 0 2px 0;
  font-size: 10px;
  text-transform: uppercase;
  width: 100px;
  color: var(--secundario-color);
  background: var(--verde-claro);
  border-radius: 22px;
  cursor: pointer;
  transform: translateY(-3px);
  border: none;
}
.bottomRightDiv{
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomRightDiv img{
  width: 95%;
}
.bottomIndex{
  position: absolute;
  display: none;
  gap: 0 10px;
  bottom: 180px;
  left: 50%;
  transform: translate(-50%, 0);
}
.bottomIndex span{
  color: var(--primario-color);
  font-size: 12px;
}

.divBottomScroll{
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  z-index: 1000;
}
.bottomScroll{
  color: var(--primario-color);
  letter-spacing: 4px;
  text-transform: uppercase;
  opacity: .8;
}
.bottomLine{
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1px;
  height: 25px;
  transform: scale(3);
  background: var(--primario-color);
  opacity: .8;
}



















section.ourPeople{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

section.ourPeople .top{
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 100vw;
  background-color: #007e48;
}

section.ourPeople .top .left{
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #aec90a;
}

section.ourPeople .top .left .text{
  position: absolute;
  top: 35%;
  left: 30%;
  color: #f3f3f4;
  z-index: 1;
}

section.ourPeople .top .left .text h2{
  font-size: 1.5rem;

}

section.ourPeople .top .left .text h1{
  font-size: 4rem;
  width: 130px;
  line-height: 45px;

}

section.ourPeople .top .left .img {
  position: absolute;
  top: -125px;
  left: -200px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 775px;
}

section.ourPeople .top .left .img img{
  width: 1000px;
  height: 900px;
}





section.ourPeople .top .right{
  width: 50%;
  background-color: #f3f3f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.ourPeople .top .right div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

section.ourPeople .top .right div p{
  z-index: 3;
}






section.ourPeople .bottom{
  background-color: #007e48;
  height: 40vh;
  width: 100vw;
  background-image: url(./public/img/green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/*

our people viejo 

section.ourPeople{
  display: flex;
  height: 70vh;
  width: 100vw;
}

section.ourPeople .ourPeople__leftDiv{
  width: 50%;
  background-color: #aec90a;
  position: relative;
  color: #f3f3f4;
  display: flex;
  align-items: center;
  justify-content: center;

}

section.ourPeople .ourPeople__leftDiv div.text {
  position: absolute;
  left: 15vw;
  top: 25vh;
  width: 220px;
  z-index: 2;
}

section.ourPeople .ourPeople__leftDiv div.img {
  position: absolute;
  right: -15%;
  top: -8%;
  z-index: 1;
}
  
  
  section.ourPeople .ourPeople__leftDiv div.img img{
  width: 65vw;
  z-index: 1;
  object-fit: contain;
  }

section.ourPeople .ourPeople__leftDiv div h2{
  font-size: 2rem;
}

section.ourPeople .ourPeople__leftDiv div h1 {
  font-size: 3.5rem;
  line-height: 45px;
}

section.ourPeople .ourPeople__rightDiv{
  width: 50%;
  background-color: #f3f3f4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

section.ourPeople .ourPeople__rightDiv div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  color: #4d4d4d;
}

section.ourPeople .ourPeople__rightDiv div p{
  z-index: 3;
}


section.section__green {
  background-color: #007e48;
  height: 40vh;
  width: 100vw;
  background-image: url(./public/img/green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
*/





.ourProducts{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}
.titleOurProducts{
  text-align: center;
  margin: 50px 0;
  font-size: 2rem;
}

.ourFacilities{
  position: absolute;
  width: 40vw;
  height: 32rem;
  z-index: 100;
  background: var(--secundario-color);
  color: var(--primario-color);
  top: 20%;
}


/* Estilos del swiper, las clases vienen predeterminadas, por lo que es bueno hacer una excepcion para el camelCase */
.swiper-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 550px; 
  margin: 0 auto;
  width: 70vw;
  overflow: hidden;
}
.swiper-slide img{
  width: 75vw;
  height: 500px;
}
.swiperButtons{
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
}
.swiper-button-prev, .swiper-button-next {
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: end;
  background: transparent;
  color: var(--secundario-color);
  padding: 6px 6px;
  margin: 0 6px;
  border-radius: 50%;
  border: 1px solid var(--secundario-color);
  opacity: .6;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  background: var(--secundario-color);
  color: var(--primario-color);
  border: 1px solid var(--primario-color);
  opacity: 1;
}

.swiper-pagination {
  position: absolute; 
  bottom: 10px; 
  left: 50%;
  color: var(--secundario-color);
}
.swiper-pagination-bullet{
  width: 5px;
  height: 5px;
}
.swiper-pagination-bullet-active{
  color: var(--secundario-color);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 100%;
  bottom: 5px;
  left: 75%;
  transform: translate(-50%, 0);
}














/* ============= MEDIA QUERIES ============= */


/*laptop l*/
@media screen and (max-width: 1440px){

  section.ourPeople .top .left .img {
    position: absolute;
    top: -125px;
    left: -200px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 775px;
  }

  section.ourPeople .top .left .img img{
    width: 1000px;
    height: 900px;
  }


}


/*laptop*/
@media screen and (max-width: 1024px){

  .divBottomScroll{
    display: none;
  }

  section.ourPeople .top .left .text{
    position: absolute;
    margin: auto;
    color: #f3f3f4;
    z-index: 1;
  }

  section.ourPeople .top .left .img{
    position: absolute;
    top: -55px;
    right: -50px;
    width: 760px;
  
  }
  
  section.ourPeople .top .left .img img{
    width: 850px;
    height: 750px;
  }





}


/*TABLET */

@media screen and (max-width: 768px){

  /* Menu */
  .headerNav{
    padding: 20px 20px;
  }

  /* Home */

  .leftDiv{
    display: none;
  }





  .centerDiv{
    width: auto;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .centerText{
    font-size: 11.5px;
    width: 100%;
    transform: translateY(-20px);
  }
  .centerSocialMedia{
    display: flex;
    justify-content: center;
    gap: 0 30px;
    font-size: 1.2rem;
  }
  .bottomIndex{
    display: flex;
  }

  .rightDiv{
    display: none;
  }
  .rightBottomDiv{
    right: 50%;
    transform: translate(50%, 0%);
  }

  /*our people*/

  section.ourPeople .top .left .text{
    position: absolute;
    top: 35%;
    left: 25%;
    color: #f3f3f4;
    z-index: 1;
  }

  section.ourPeople .top .left .text h1{
    font-size: 3.5rem;
  }

  section.ourPeople .top .left .img {
        position: absolute;
        top: -55px;
        left: -235px;
        right: 0px;
        width: 760px;
    }

    section.ourPeople .top .left .img img{
      width: 750px;
      height: 750px;
    }

@media screen and (max-width: 640px){


  /* Home */
  .centerTitle{
    font-size: 3.5rem;
  }



  .rightBottomDiv{
    width: 100%;
  }
  .bottomLeftDiv {
    font-size: 1rem;
  }
  .buttomDivSpanAndButton button{
    padding:2px 0 1.5px 0;
    font-size: 10px;
  }


  /*our people*/

  section.ourPeople .ourPeople__leftDiv div.text {
    position: absolute;
    left: 50px;
    top: 275px;
    width: 220px;
    z-index: 2;
  }

  section.ourPeople .ourPeople__leftDiv div.img {
    position: absolute;
    right: -25%;
    top: 17%;
    z-index: 1;
  }

  section.ourPeople .ourPeople__leftDiv div.img img{
    width: 500px;
    z-index: 1;
    object-fit: contain;
  }

}


/*phone*/
@media screen and (max-width: 425px){

  section.ourPeople{
    overflow-x: hidden;

  }

  section.ourPeople .top .right div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 65%;
    font-size: 0.83rem;
  }

  section.ourPeople .top .left .text {
    position: absolute;
    top: 40%;
    left: 25%;
    color: #f3f3f4;
    z-index: 1;
}

  section.ourPeople .top .left .text h2{
    font-size: 1rem;
  
  }
  
  section.ourPeople .top .left .text h1{
    font-size: 2rem;
    width: 130px;
    line-height: 30px;
  
  }

  section.ourPeople .top .left .img {
    position: absolute;
    top: 85px;
    left: -215px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 775px;
}
  
  section.ourPeople .top .left .img img{
    width: 500px;
    height: 400px;
  }




}


/*small phone*/
@media screen and (max-width: 375px){

  section.ourPeople .top .right div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 65%;
    font-size: 0.8rem;
  }

  section.ourPeople .top .left .text {
    position: absolute;
    top: 40%;
    left: 20%;
    color: #f3f3f4;
    z-index: 1;
}

  section.ourPeople .top .left .text h2{
    font-size: 1rem;
  
  }
  
  section.ourPeople .top .left .text h1{
    font-size: 2rem;
    width: 130px;
    line-height: 30px;
  
  }

  section.ourPeople .top .left .img {
    position: absolute;
    top: 110px;
    left: -150px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 775px;
}
  
  section.ourPeople .top .left .img img{
    width: 400px;
    height: 350px;
  }
}
}