:root{
  /* Primary Colors */

  --verde-claro: #aec90a;
  --verde-oscuro: #007e48;
  --primario-color: #f3f3f4;
  --secundario-color: #000000;

}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  position: relative;
  overflow-x: hidden;
}

.header{
  width: 100vw;
  position: absolute;
  z-index: 10;
}
.headerNav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px 0 180px;
}
.navLogo{
  position: relative;
}
.navTitle{
  font-size: 2rem;
  height: 35px;
  display: flex;
  justify-content: end;
  font-weight: 500;
  cursor: pointer;
}
.navTitleLeft{
  color: var(--verde-oscuro);
}
.navTitleRight{
  font-style: italic;
  color: var(--verde-claro);
}
.navTitleMin{
  position: absolute;
  font-size: 0.8rem;
  right: 0;
  font-style: italic;
  color: var(--primario-color);
}

.navMenu{
  display: flex;
  gap: 0 20px;
}
.menuFirstIcon{
  font-size: 20px;
  transform: translateY(5px);
  color: var(--primario-color);
  cursor: pointer;
}
.menuSecondIcon{
  font-size: 20px;
  background: var(--verde-claro);
  color: var(--primario-color);
  border-radius: 100%;
  padding: 2.5px 9px 0 9px;
  cursor: pointer;
}




/* =============== SECTION HOME ================ */

.home{
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: url('./public/bg/background-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: .95;
}

.leftDiv{
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primario-color);
  display: grid;
  gap: 10px 0;
}
.leftDiv span{
  cursor: pointer;
  font-size: 12px;
}





.centerDiv{
  color: var(--primario-color);
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
.centerNumber{
  font-size: 1.8rem;
  font-weight: 600;
}
.centerTitle{
  font-size: 5rem;
  font-weight: 600;
  transform: translateY(-20px);
}
.centerText{
  font-size: 11.5px;
  width: 70%;
}
.centerSocialMedia{
  display: none;
}




.rightDiv{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0%, -50%);
  display: grid;
  color: var(--primario-color);
  gap: 5px;
}
.rightDiv span{
  font-size: 1.2rem;
  cursor: pointer;
}
.rightBottomDiv{
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--primario-color);
  width: 30rem;
  height: 10rem;
  display: flex;
}
.bottomLeftDiv {
  width: 50%;
  background: var(--secundario-color);
  color: var(--primario-color);
  font-size: 1.2rem;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;/* Esto establece el espacio entre los elementos dentro del grid */
}
.buttomDivSpanAndButton span{
  cursor: pointer;;
}
.buttomDivSpanAndButton button{
  padding:3px 0 2px 0;
  font-size: 10px;
  text-transform: uppercase;
  width: 100px;
  color: var(--secundario-color);
  background: var(--verde-claro);
  border-radius: 22px;
  cursor: pointer;
  transform: translateY(-3px);
  border: none;
}
.bottomRightDiv{
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomRightDiv img{
  width: 95%;
}






/* =============== SECTION OUR PEOPLE ================ */

section.ourPeople{
  display: flex;
  height: 70vh;
  width: 100vw;
}

section.ourPeople .ourPeople__leftDiv{
  width: 50%;
  background-color: #aec90a;
  position: relative;
  color: #f3f3f4;
  display: flex;
  align-items: center;
  justify-content: center;

}

section.ourPeople .ourPeople__leftDiv div.text {
  position: absolute;
  left: 15vw;
  top: 25vh;
  width: 220px;
  z-index: 2;
}

section.ourPeople .ourPeople__leftDiv div.img {
  position: absolute;
  right: -15%;
  top: -8%;
  z-index: 1;
}
  
  
  section.ourPeople .ourPeople__leftDiv div.img img{
  width: 65vw;
  z-index: 1;
  object-fit: contain;
  }

section.ourPeople .ourPeople__leftDiv div h2{
  font-size: 2rem;
}

section.ourPeople .ourPeople__leftDiv div h1 {
  font-size: 3.5rem;
  line-height: 45px;
}






section.ourPeople .ourPeople__rightDiv{
  width: 50%;
  background-color: #f3f3f4;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

section.ourPeople .ourPeople__rightDiv div{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  color: #4d4d4d;
}

section.ourPeople .ourPeople__rightDiv div p{
  z-index: 3;
}





/* ============= MEDIA QUERIES ============= */

@media screen and (max-width: 1024px){
  section.ourPeople .ourPeople__leftDiv div.text {
    position: absolute;
    left: 10vw;
    top: 25vh;
    width: 220px;
    z-index: 2;
}

  section.ourPeople .ourPeople__leftDiv div.img {
    position: absolute;
    right: -8vw;
    top: 2vh;
    z-index: 1;
  }

  section.ourPeople .ourPeople__leftDiv div.img img{
    width: 70vw;
    z-index: 1;
    object-fit: contain;
  }



}



@media screen and (max-width: 768px){

  /* Menu */
  .headerNav{
    padding: 20px 20px;
  }

  /* Home */

  .leftDiv{
    display: none;
  }





  .centerDiv{
    width: auto;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .centerText{
    font-size: 11.5px;
    width: 100%;
    transform: translateY(-20px);
  }
  .centerSocialMedia{
    display: flex;
    justify-content: center;
    gap: 0 30px;
    font-size: 1.2rem;
  }



  .bottomIndex{
    position: absolute;
    display: flex;
    gap: 0 10px;
    bottom: 180px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .bottomIndex span{
    color: var(--primario-color);
    font-size: 12px;
  }
  .rightDiv{
    display: none;
  }
  .rightBottomDiv{
    right: 50%;
    transform: translate(50%, 0%);
  }

  /*our people*/

  section.ourPeople .ourPeople__leftDiv div h1 {
    font-size: 3rem;
    line-height: 40px;
}

  section.ourPeople .ourPeople__leftDiv div.text {
    position: absolute;
    left: 10vw;
    top: 28vh;
    width: 220px;
    z-index: 2;
}

  section.ourPeople .ourPeople__leftDiv div.img {
    position: absolute;
    right: -10vw;
    top: 10vh;
    z-index: 1;
  }

  section.ourPeople .ourPeople__leftDiv div.img img{
    width: 75vw;
    z-index: 1;
    object-fit: contain;
  }
  
}

@media screen and (max-width: 640px){


  /* Home */
  .centerTitle{
    font-size: 3.5rem;
  }



  .rightBottomDiv{
    width: 100%;
  }
  .bottomLeftDiv {
    font-size: 1rem;
  }
  .buttomDivSpanAndButton button{
    padding:2px 0 1.5px 0;
    font-size: 10px;
  }


  /*our people*/

  section.ourPeople .ourPeople__leftDiv div.text {
    position: absolute;
    left: 50px;
    top: 275px;
    width: 220px;
    z-index: 2;
  }

  section.ourPeople .ourPeople__leftDiv div.img {
    position: absolute;
    right: -25%;
    top: 17%;
    z-index: 1;
  }

  section.ourPeople .ourPeople__leftDiv div.img img{
    width: 500px;
    z-index: 1;
    object-fit: contain;
  }

}


@media screen and (max-width: 425px){

  section.ourPeople .ourPeople__leftDiv div.text {
    position: absolute;
    left: 10vw;
    top: 30vh;
    width: 140px;
    z-index: 2;
  }

  section.ourPeople .ourPeople__leftDiv div h2 {
    font-size: 1.5rem;
  }

  section.ourPeople .ourPeople__leftDiv div h1 {
    font-size: 2rem;
    line-height: 30px;
  }

  section.ourPeople .ourPeople__leftDiv div.img {
    position: absolute;
    right: -27%;
    top: 26%;
    z-index: 1;
  }

  section.ourPeople .ourPeople__leftDiv div.img img {
  width: 85vw;
  z-index: 1;
  object-fit: contain;
  }

  section.ourPeople .ourPeople__rightDiv div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    width: 85%;
    color: #4d4d4d;
  }


}

@media screen and (max-width: 375px){
  
  section.ourPeople .ourPeople__rightDiv div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 85%;
    color: #4d4d4d;
    font-size: 0.98rem;
  }
}
